name: build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  test_matrix:
    name: Build test matrix
    runs-on: ubuntu-latest
    outputs:
      paths: ${{ steps.paths.outputs.JSON_CONTENT }}
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v4
      - name: Output matrix
        id: paths
        run: |
          set -e
          set -o pipefail
          if [ ! -d tests ]; then
            echo "Error: Failed to find tests directory"
            ls -l
            exit 1
          fi
          content=$(jq -ncR '[inputs]' <<< $(find tests -mindepth 2 -maxdepth 2 -type f -name VELBUILD | xargs dirname | xargs basename))
          echo "$content"
          echo 'JSON_CONTENT<<EOF' >> $GITHUB_OUTPUT
          echo "$content" >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: test_matrix
    strategy:
      matrix:
        path: ${{ fromJson(needs.test_matrix.outputs.paths) }}
        driver:
          - podman
          - docker
      fail-fast: false
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v4
      - name: Run action
        uses: ./
        with:
          path: tests/${{ matrix.path }}
          driver: ${{ matrix.driver }}
      - name: Validate output
        if: "!cancelled()"
        shell: bash
        run: |
          set -e
          tests/${{ matrix.path }}/validate.sh
